#caja{
    width: 100%;
    height: 15%;
    margin: 0 auto; /*centrar el div*/
    padding: 0;
    top: 0px;
    left: 0px;
    position: fixed;
    background-image: linear-gradient(to right, pink, rgb(229, 113, 252), rgb(210, 71, 130), rgb(155, 95, 204), rgb(58, 80, 188), rgb(62, 29, 248), rgb(38, 0, 255)) ;
    display: flex;
    justify-content: center;
}
.cajas1{
    background-color: rgb(217, 86, 175);
    display: flex;
    margin: 2%;
    border: 2px solid black;
    padding: 2%;
}
.cajas2{
    background-color: rgb(151, 92, 199);
    display: flex;
    margin: 2%;
    border: 2px solid black;
    padding: 2%;
}
.cajas3{
    background-color: rgb(61, 46, 228);
    display: flex;
    margin: 2%;
    border: 2px solid black;
    padding: 2%;
}
.img {
    margin-top: -1cm;
    margin: 0;
    height: auto;
}
.texto {
    margin-top: 8%;
}
main {
    margin-top: 12%;
    column-count: 3;
    column-gap: 3em;
    column-rule: 1px solid #bbb;
    column-width: 140px;
}

body {
        background-color: #dfdfe5;
        background: linear-gradient(135deg, pink 25%, transparent 25%) -23px 0/ 46px 46px, linear-gradient(225deg, #3e0f73 25%, transparent 25%) -23px 0/ 46px 46px, linear-gradient(315deg, #430f7355 25%, transparent 25%) 0px 0/ 46px 46px, linear-gradient(45deg, #4b0f73 25%, #dfdfe5 25%) 0px 0/ 46px 46px;
}
    
